###############################################################################
# Please modify this file if you want to configure your own library.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_LIBS_NAME_IIO
	comment "No additional options for IIO"

# 	config LIBS_IIO_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
